<div class="h-screen w-screen flex items-center justify-center relative">
  <div
    class="absolute inset-0 bg-cover bg-center bg-no-repeat"
    style="
      background-image: url('https://d1hjkbq40fs2x4.cloudfront.net/2020-12-04/files/1.jpg');
    "
  ></div>
  <button
    class="gap-2 whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 hover:text-accent-foreground py-2 w-2/5 max-w-xl h-14 mx-4 flex items-center justify-between px-3 bg-white/10 backdrop-blur-sm border border-white/20 rounded-full transition-all hover:bg-white/15 hover:border-white/30 relative z-10 group"
  >
    <div class="flex -space-x-3 relative">
      <div class="relative" style="z-index: 7">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(0, 200, 5)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-leaf w-4 h-4 text-white relative z-20"
          >
            <path
              d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
            ></path>
            <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 6">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(29, 161, 242)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-dollar-sign w-4 h-4 text-white relative z-20"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
            <path d="M12 18V6"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.115"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 5">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(76, 175, 80)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-bar-chart3 w-4 h-4 text-white relative z-20"
          >
            <path d="M3 3v18h18"></path>
            <path d="M18 17V9"></path>
            <path d="M13 17V5"></path>
            <path d="M8 17v-3"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.23"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 4">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(255, 75, 75)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-line-chart w-4 h-4 text-white relative z-20"
          >
            <path d="M3 3v18h18"></path>
            <path d="m19 9-5 5-4-4-3 3"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.345"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 3">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(124, 58, 237)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-pie-chart w-4 h-4 text-white relative z-20"
          >
            <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
            <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.46"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 2">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(156, 163, 175)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trending-up w-4 h-4 text-white relative z-20"
          >
            <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
            <polyline points="16 7 22 7 22 13"></polyline>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.575"
          ></div>
        </div>
      </div>
      <div class="relative" style="z-index: 1">
        <div
          class="w-8 h-8 rounded-full flex items-center justify-center relative"
          style="background-color: rgb(33, 150, 243)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-network w-4 h-4 text-white relative z-20"
          >
            <rect x="16" y="16" width="6" height="6" rx="1"></rect>
            <rect x="2" y="16" width="6" height="6" rx="1"></rect>
            <rect x="9" y="2" width="6" height="6" rx="1"></rect>
            <path d="M5 16v-3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3"></path>
            <path d="M12 12V8"></path>
          </svg>
          <div
            class="absolute inset-0 rounded-full bg-black pointer-events-none"
            style="opacity: 0.69"
          ></div>
        </div>
      </div>
    </div>
    <div
      class="h-10 px-4 flex items-center justify-center bg-black/40 backdrop-blur-xl rounded-full"
    >
      <span class="text-white/90 text-md font-light">Sync your broker</span>
    </div>
  </button>
</div>
